<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Cupcakes</title>
</head>
<body>
    <div class="container justify-right">
        <h1>Cupcakes</h1>
        <ul class="cupcake-list"></ul>


        <h4 class="mt-5">New Cupcake</h4>
        <form action="/api/cupcakes" method="POST" id="form">
            <div class="form-group">
                <label for="flavor">Flavor</label>
                <input type="text" name="flavor" class="form-control" id="flavor" placeholder="Enter Flavor">
              </div>
              <div class="form-group">
                <label for="size">Size</label>
                <input type="text" name="size" class="form-control" id="size" placeholder="Enter Size">
              </div>
              <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" name="rating" class="form-control" id="rating" placeholder="Enter Rating">
              </div>
              <div class="form-group">
                <label for="image">Image</label>
                <input type="text" name="image" class="form-control" id="image" placeholder="Enter Image URL">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../static/app.js"></script>
</body>
</html>